<nav
  class="navbar navbar-light bg-light"
  style="background-color: white !important;border-top-color: black;border-top-style:solid; border-top-width: thin; border-bottom-style: ridge; box-shadow:0px 5px 5px rgb(179, 179, 179);"
>
 <div>
     <img src="assets/Capture.PNG" width="120" height="30">
 </div>
</nav>
<br>
<div class="container">
    <mat-card>
        <div class="row" >
        <div class="col-6">
            <h2 style="color: #6E6F6D; font-weight: 500;">
                Current Timesheets
                
            </h2>
            
        </div>
    </div>
        <div class="row">
            <div class="col-12">
                <table class="table" style="text-align: center;">
                    <thead>
                      <tr>
                        <th scope="col">Timesheet #</th>
                        <th scope="col">Status</th>
                        <th scope="col">Last Modified By</th>
                        <th scope="col">Sent By</th>
                        <th scope="col"></th>


                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>0001</td>
                        <td>Approved</td>
                        <td>Adam Eric</td>
                        <td>Relly Smith</td>
                        <td>   <button nzSize="small" style="background-color: black;color: white;" nz-button >Edit</button>       
                        </td>
                      </tr>
                      
                    </tbody>
                  </table>

            </div>
        </div>

    </mat-card>

</div>
