<nav
  class="navbar navbar-light bg-light"
  style="background-color: white !important;border-top-color: black;border-top-style:solid; border-top-width: thin; border-bottom-style: ridge; box-shadow:0px 5px 5px rgb(179, 179, 179);"
>
<div>
  <img src="assets/Capture.PNG" width="120" height="30">
</div>
  <div style="margin-right: 50%;">
    <button
      mat-stroked-button
      (click)="goToAddNewUser()"
      style=" font-size: 1.1em;font-weight: 600;"
    >
      Add new user
    </button>
    &nbsp;
    <button
      mat-stroked-button
      (click)="goToOrganizationConfig()"
      style="font-size: 1.1em;font-weight: 600;"
    >
      Organization configuration
    </button>
  </div>
  <div style="margin-right: 5%;" style="cursor: pointer;" (click)="logout()" >
    <img src="assets/icons8-logout-rounded-left-24.png" alt="">
  </div>
</nav>

<mat-card style="width: 40%; margin-left: 30%; margin-top: 2%;">
    <div style="font-size: large;">
      <img src = "assets/icons8-contacts-30.png" > 
      <b>Company Profile</b>
      <div class="row">
      <div class="col-md-8" >
      <img
      style="margin-left: 60%;"
      [src]="
        companyObj.companyimage != null
          ? 'data:image/jpeg;base64,' + companyObj.companyimage
          : 'assets/user.png'
      "
      alt="Avatar"
      class="avatar"
    />
    <label
      style="margin-left: 63%; font-size: 0.6em;margin-top: 5%;cursor: pointer;"
      >Select Picture
      <input
        type="file"
        id="imgFile"
        (change)="onImageChange($event)"
        style="margin-left: 40%; "
      />
    </label>
    </div>
  </div>
     
    </div>
    <hr />
    <form class="example-form" #myForm="ngForm">

        <div class="col">
          <mat-form-field class="example-full-width" style="width: 100%;">
            <!-- <mat-label>Favorite food</mat-label> -->
            <input matInput="text" placeholder="Legal Company Name" [(ngModel)]=companyObj.companyName name="companyName" required/>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="example-full-width" style="width: 100%;">
            <!-- <mat-label>Favorite food</mat-label> -->
            <input matInput="text" placeholder="Corporate Address" [(ngModel)]=companyObj.corporateAddress name="corporateAddress" required/>
          </mat-form-field>
        </div>
      
      <div class = "col">
        <mat-form-field class="example-full-width" style="width: 100%;">
          <!-- <mat-label>Favorite food</mat-label> -->
          <input matInput="text" placeholder="Billing Address" name="address" [(ngModel)]="companyObj.billingAddress" required
  
          />
        </mat-form-field>
      </div>
      <div class = "col">
        <mat-form-field class="example-full-width" style="width: 100%;">
          <!-- <mat-label>Favorite food</mat-label> -->
          <input matInput="text" placeholder="Contact Name" name = name [(ngModel)]=companyObj.contactName required/>
        </mat-form-field>
      </div>
      <div class = "col">
        <mat-form-field class="example-full-width" style="width: 100%;">
          <!-- <mat-label>Favorite food</mat-label> -->
          <input matInput="text" placeholder="Contact Title" name=title [(ngModel)]=companyObj.contactTitle required />
        </mat-form-field>
      </div>
      <div class = "col">
        <mat-form-field class="example-full-width" style="width: 100%;">
          <!-- <mat-label>Favorite food</mat-label> -->
          <input matInput="text" placeholder="Roles" name=roles [(ngModel)]=companyObj.roles required />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label style="font-size: 1em;"
            >Starting Day of the Week</mat-label
          >
          <mat-select
            name="day"
            [(ngModel)]="companyObj.startingDayOfWeek"
            required
          >
            <mat-option *ngFor="let day of days" [value]="day.value">
              {{ day.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button
        [disabled]="disableSaveButton"
        mat-raised-button
        color="warn"
        style="background-color: black;margin-left: 20%;"
        (click)="submit(myForm)"
      >
        Submit
      </button>
      </div>
      <hr>
      <br>
      
      
      
    </form>
  </mat-card>
  
