
<nav
class="navbar navbar-light bg-light"
style="background-color: white !important;border-top-color: black;border-top-style:solid; border-top-width: thin; border-bottom-style: ridge; box-shadow:0px 5px 5px rgb(179, 179, 179);"
>
<div>
<img src="assets/Capture.PNG" width="120" height="30">
</div>

    <button
      mat-stroked-button
      (click)="goToProfiles()"
      style="font-size: 1.1em;font-weight: 600;margin-left:-2%;"
    >
    Profiles
    </button>

<div style="margin-left: 70%;">
  <nz-badge nzStatus="success">
    <nz-avatar nzIcon="user" [nzSrc]="userImage != null
    ? 'data:image/jpeg;base64,' + userImage
    : 'assets/user.png'
"></nz-avatar>
  </nz-badge>
</div>
<div style="margin-right: 5%;" style="cursor: pointer;" (click)="logout()">
  <img src="assets/icons8-logout-rounded-left-24.png" alt="">
</div>
</nav>

<br>

<div class="container">
    <button
    mat-stroked-button
    (click)="goToRecievedTimesheets()"
    style="font-size: 1.1em;font-weight: 600; margin-bottom: 1%;"
    >
    Back
    </button>
    
  <mat-card>
      <div class="row" >
      <div class="col-6">
          <h2 style="color: #6E6F6D; font-weight: 500;">
              Current Timesheet
              
          </h2>
          <p style="color: #6E6F6D; margin-top: -3%;">
            {{showRange}} , Week No. {{weekId}}
          </p>
          
      </div>
  </div>
      <div class="row">
          <div class="col-12">
              <table class="table" style="text-align: center;">
                  <thead>
                    <tr>
                      <th scope="col">Day</th>
                      <th scope="col">Start Time</th>
                      <th scope="col">End Time</th>
                      <th scope="col">Hours</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>MONDAY</td>
                     <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.mondayStartTime" (ngModelChange)="log($event)"></nz-time-picker></td>
                     <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.mondayEndTime" (ngModelChange)="log($event)"></nz-time-picker></td>
                     <td>{{mondayHrs}}</td>
                    </tr>
                    <tr>
                      <td>TUESDAY</td>
                      <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.tuesdayStartTime" (ngModelChange)="log($event)"></nz-time-picker></td>
                     <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.tuesdayEndTime" (ngModelChange)="log($event)"></nz-time-picker></td>
                     <td>{{tuesdayHrs}}</td>

                    </tr>
                    <tr>
                      <td>WEDNESDAY</td>
                      <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.wednesdayStartTime" (ngModelChange)="log($event)"></nz-time-picker></td>
                     <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.wednesdayEndTime" (ngModelChange)="log($event)"></nz-time-picker></td>
                     <td>{{wednesdayHrs}}</td>

                    </tr>
                    <tr>
                      <td>THURSDAY</td>
                      <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.thursdayStartTime" (ngModelChange)="log($event)"></nz-time-picker></td>
                      <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.thursdayEndTime" (ngModelChange)="log($event)"></nz-time-picker></td>
                      <td>{{thursdayHrs}}</td>

                    </tr>
                    <tr>
                      <td>FRIDAY</td>
                      <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.fridayStartTime" (ngModelChange)="log($event)"></nz-time-picker></td>
                     <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.fridayEndTime" (ngModelChange)="log($event)"></nz-time-picker></td>
                     <td>{{fridayHrs}}</td>

                    </tr>
                    <tr>
                      <td>SATURDAY</td>
                      <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.saturdayStartTime" (ngModelChange)="log($event)"></nz-time-picker></td>
                     <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.saturdayEndTime" (ngModelChange)="log($event)"></nz-time-picker></td>
                     <td>{{saturdayHrs}}</td>

                    </tr>
                    <tr>
                      <td>SUNDAY</td>
                      <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.sundayStartTime" (ngModelChange)="log($event)"></nz-time-picker></td>
                      <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.sundayEndTime" (ngModelChange)="log($event)"></nz-time-picker></td>
                      <td>{{sundayHrs}}</td>

                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>Total Hours : {{totalHrs}}</td>
                    </tr>
                  </tbody>
                </table>

          </div>
      </div>
      <hr>
      <div class="row" >
        <div class="col-4"></div>
      <!-- <button mat-raised-button color="primary" style="background-color: black;">Save Timesheet</button> -->
      <!-- <button mat-raised-button color="basic" style="background-color: teal;color: whitesmoke;" >Approve</button> -->
      <button mat-raised-button color="primary" style="margin-left: 10%;" (click)="modifyAndApprove()">Modify & Approve</button>
      <!-- <button mat-raised-button color="warn" style="margin-left: 1%;">Disapprove</button> -->
      
  </div>

  </mat-card>

</div>
