<div class="container">

    <br />
    <button (click)="goToLogin()" nz-button nzSize="medium" nzType="default">
      Back
    </button>
    <nz-spin
    nzSimple
    *ngIf="mainLoader"
    style="margin-left: 45%; margin-top: 10%;"
    [nzSize]="'large'"
    nzTip="Loading..."
  ></nz-spin>

    <div class="row" style="height: 100px;"></div>
    <div *ngIf="showFiels && !mainLoader">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-4">
          <h1 style=" color: #595959;">
            Reset password
          </h1>
        </div>
      </div>
      
      <div class="row">
        <div class="col-3"></div>
        <div class="col-5">
          Enter your new password for timesheets.
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-5">
            <nz-input-group [nzSuffix]="suffixTemplate">
                <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Enter new password" [(ngModel)]="newPassObj.password" />
              </nz-input-group>
              <ng-template #suffixTemplate>
                <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
              </ng-template>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-5">
            <nz-input-group [nzSuffix]="suffixTemplate">
                <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="confirm password" [(ngModel)]="password" />
              </nz-input-group>
              <ng-template #suffixTemplate>
                <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
              </ng-template>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-3"></div>
        <div class="col-2">
          <button
            (click)="savePassword()"
            style="width: 100%;"
            mat-raised-button
            color="primary"
          >
            <div *ngIf="showLoader" class="spinner-grow text-light" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            Send
          </button>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="!showFiels">
        <div class="col-3"></div>
        <div class="col-6">
            <nz-alert nzType="error" nzMessage="Link Expired" nzDescription="Link is expired, try again" nzCloseText="Enter email again?" (nzOnClose)="goToForgotPassword()" nzShowIcon> </nz-alert>
        </div>
      </div>
  </div>
  