<nav
  class="navbar navbar-light bg-light"
  style="background-color: white !important;border-top-color: black;border-top-style:solid; border-top-width: thin; border-bottom-style: ridge; box-shadow:0px 5px 5px rgb(179, 179, 179);"
>
  <div>
    <img src="assets/Capture.PNG" width="120" height="30" />
  </div>
  <div style="margin-right: 40%;">
    <button
      mat-stroked-button
      (click)="goToNewTimesheet()"
      style=" font-size: 1.1em;font-weight: 600;"
    >
      Create Timesheet
    </button>
    &nbsp;
    <button
      mat-stroked-button
      (click)="goToMyTimeSheets()"
      style="font-size: 1.1em;font-weight: 600;"
    >
      My Timesheets
    </button>
    &nbsp;
    <button
      mat-stroked-button
      (click)="goToProfiles()"
      style="font-size: 1.1em;font-weight: 600;"
    >
      Profile
    </button>
  </div>
  <div>
    <strong>{{userName}} </strong>
    &nbsp;
    <nz-badge nzStatus="success">
      <nz-avatar
        nzIcon="user"
        [nzSrc]="
          userImage != null
            ? 'data:image/jpeg;base64,' + userImage
            : 'assets/user.png'
        "
      ></nz-avatar>
      
    </nz-badge>
    <span style="font-size: xx-small;font-weight: 200;">{{userType}}</span>
  </div>
  <div style="margin-right: 5%;" style="cursor: pointer;" (click)="logout()">
    <img src="assets/icons8-logout-rounded-left-24.png" alt="" />
  </div>
</nav>

<br />

<div class="container">
  <mat-card>
    <div class="row" *ngIf="!hideSection">
      <div class="col-6">
        <h2 style="color: #6E6F6D; font-weight: 500;">
          Current Timesheet
        </h2>
        <p style="color: #6E6F6D; margin-top: -3%;">
          {{ showRangeForView }} , Week No. {{ weekIdforView }}
        </p>
      </div>
    </div>
    <div class="row" *ngIf="hideSection">
     
      <div class="col-6">
        <h2 style="color: #6E6F6D; font-weight: 500;">
          Current Timesheet
        </h2>

        <div style="color: #6E6F6D; margin-top: -3%;">
          <button mat-icon-button color="primary" (click)="goToPreviousWeek()">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>

          {{ showRange }} , Week No. {{ weekId }}

          <button
            mat-icon-button
            color="primary"
            (click)="goToNextWeek()"
            [disabled]="checkWeek()"
          >
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </div>
    </div>
    
    <nz-spin nzSimple *ngIf="showLoader" style="margin-left: 45%;" [nzSize]="'large'" nzTip="Loading..."></nz-spin>
    <div class="row" *ngIf="!hideForm && smileySection">
      <nz-result
        [nzIcon]="'smile-twotone'"
        [nzTitle]="'Timesheet Submitted!'"
        style="margin-left: 35%;"
      >
      </nz-result>
    </div>
    <div *ngIf="hideForm">
      <div class="row">
        <div class="col-12">
          
            <div class="alert alert-danger" style="text-align: center;" *ngIf="showErrorDiv">
              <strong>Error!</strong> End time must be greater than start time and Break time must be less than hours 
            </div>
          
          <table class="table" style="text-align: center;">
            <thead>
              <tr>
                <th scope="col">Day</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                
                <th scope="col">Overtime</th>
                  
                <th *ngIf="paid" scope="col">Break Time</th>
                <th scope="col">Hours</th>
                <!-- <th scope="col">Break Time</th>             -->
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>MONDAY</td>
                <td>
                  <p-calendar [(ngModel)]="timesheetsObj.mondayStartTime" [disabled]="disableInputFields" (onClose)="setStartMyDate(timesheetsObj.mondayStartTime,'mondayStartTime',timesheetsObj.mondayEndTime,'monHrs','monExtraHrs')" [timeOnly]="true"></p-calendar>
                </td>
                <td>
                  <p-calendar [(ngModel)]="timesheetsObj.mondayEndTime" [disabled]="disableInputFields" (onClose)="setEndMyDate(timesheetsObj.mondayEndTime,'mondayEndTime',timesheetsObj.mondayStartTime,'monHrs','monExtraHrs')" [timeOnly]="true"></p-calendar>
                </td>
              
                
                <td>
                  <p-calendar [(ngModel)]="timesheetsObj.monExtraHrs" [disabled]="disableInputFields || checkExtraHrsField('monHrs')" (onClose)="setExtraHours(timesheetsObj.monExtraHrs,'monExtraHrs','monHrs')" (onFocus)="clearField('monExtraHrs','monHrs')"  [timeOnly]="true"></p-calendar>
                </td>
                <td *ngIf="paid" style="cursor: pointer;" (click)="showModal('monHrs','monBreakTime','monStartBreakTime','monEndBreakTime')">
                  
                  <i nz-icon nzType="clock-circle" nzTheme="outline" style="font-size: larger;"></i>
                   &nbsp;<span >{{timesheetsObj.monBreakTime}}</span>
                   
                </td>
                <td>{{ hrs.monHrs }}               
                </td>
              </tr>
              <nz-modal [(nzVisible)]="isVisible.monBreakTime" nzTitle="Monday Break Time" (nzOnCancel)="handleCancel('monBreakTime','monStartBreakTime','monEndBreakTime')" (nzOnOk)="handleOk('monHrs','monBreakTime')" [nzOkDisabled]="disableOkButtonForBreakTime">
                <div class="alert alert-danger" style="text-align: center;" *ngIf="showErrorDivForBreakTime">
                  <strong>Error!</strong> End time must be greater than start time.
                </div>
                <table class="table" style="text-align: center;">
                  <thead>
                    <tr>
                      <th scope="col">Start Time</th>
                      <th scope="col">End Time</th>
                      <th scope="col">Hours</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <td>
                      <p-calendar [(ngModel)]="breakTimeObj.monStartBreakTime" (onClose)="setStartBreakTime(breakTimeObj.monStartBreakTime,'monStartBreakTime',breakTimeObj.monEndBreakTime,'monBreakTime')"  [timeOnly]="true"></p-calendar>
                    </td>
                    <td>
                      <p-calendar [(ngModel)]="breakTimeObj.monEndBreakTime"   (onClose)="setEndBreakTime(breakTimeObj.monEndBreakTime,'monEndBreakTime',breakTimeObj.monStartBreakTime,'monBreakTime')" [timeOnly]="true"></p-calendar>
                    </td>
                    <td>
                      {{timesheetsObj.monBreakTime}}
                    </td>
                  </tbody>
                  
                  </table>
                  <hr>
              </nz-modal>
              <tr>
                <td>TUESDAY</td>
              
                <td style="cursor: pointer;">
                  <p-calendar [(ngModel)]="timesheetsObj.tuesdayStartTime" [disabled]="disableInputFields" (onClose)="setStartMyDate(timesheetsObj.tuesdayStartTime,'tuesdayStartTime',timesheetsObj.tuesdayEndTime,'tuesHrs','tueExtraHrs')" [timeOnly]="true"></p-calendar>
                </td>
              
                <td>
                  <p-calendar [(ngModel)]="timesheetsObj.tuesdayEndTime" [disabled]="disableInputFields" (onClose)="setEndMyDate(timesheetsObj.tuesdayEndTime,'tuesdayEndTime',timesheetsObj.tuesdayStartTime,'tuesHrs','tueExtraHrs')" [timeOnly]="true"></p-calendar>
                </td>
               
                <td>
                  <p-calendar [(ngModel)]="timesheetsObj.tueExtraHrs" [disabled]="disableInputFields || checkExtraHrsField('tuesHrs')" (onClose)="setExtraHours(timesheetsObj.tueExtraHrs,'tueExtraHrs','tuesHrs')" (onFocus)="clearField('tueExtraHrs','tuesHrs')" [timeOnly]="true"></p-calendar>
                </td>
                <td *ngIf="paid" style="cursor: pointer;" (click)="showModal('tuesHrs','tueBreakTime','tueStartBreakTime','tueEndBreakTime')">
                  <i nz-icon nzType="clock-circle" nzTheme="outline" style="font-size: larger;"> 
                    </i> &nbsp;<span >{{timesheetsObj.tueBreakTime}}</span>
                </td>
                <td >{{hrs.tuesHrs}}</td>
              </tr>
              <nz-modal [(nzVisible)]="isVisible.tueBreakTime" nzTitle="Tuesday Break Time" (nzOnCancel)="handleCancel('tueBreakTime','tueStartBreakTime','tueEndBreakTime')" (nzOnOk)="handleOk('tuesHrs','tueBreakTime')" [nzOkDisabled]="disableOkButtonForBreakTime">
                <div class="alert alert-danger" style="text-align: center;" *ngIf="showErrorDivForBreakTime">
                  <strong>Error!</strong> End time must be greater than start time.
                </div>
                <table class="table" style="text-align: center;">
                  <thead>
                    <tr>
                      <th scope="col">Start Time</th>
                      <th scope="col">End Time</th>
                      <th scope="col">Hours</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <td>
                      <p-calendar [(ngModel)]="breakTimeObj.tueStartBreakTime" (onClose)="setStartBreakTime(breakTimeObj.tueStartBreakTime,'tueStartBreakTime',breakTimeObj.tueEndBreakTime,'tueBreakTime')"  [timeOnly]="true"></p-calendar>
                    </td>
                    <td>
                      <p-calendar [(ngModel)]="breakTimeObj.tueEndBreakTime"   (onClose)="setEndBreakTime(breakTimeObj.tueEndBreakTime,'tueEndBreakTime',breakTimeObj.tueStartBreakTime,'tueBreakTime')" [timeOnly]="true"></p-calendar>
                    </td>
                    <td>
                      {{timesheetsObj.tueBreakTime}}
                    </td>
                  </tbody>
                  
                  </table>
                  <hr>
              </nz-modal>

              <tr>
                <td>WEDNESDAY</td>
                <td>
                  <p-calendar [(ngModel)]="timesheetsObj.wednesdayStartTime" [disabled]="disableInputFields" (onClose)="setStartMyDate(timesheetsObj.wednesdayStartTime,'wednesdayStartTime',timesheetsObj.wednesdayEndTime,'wedHrs','wedExtraHrs')" [timeOnly]="true"></p-calendar>
                </td>
                <td>
                  <p-calendar [(ngModel)]="timesheetsObj.wednesdayEndTime" [disabled]="disableInputFields" (onClose)="setEndMyDate(timesheetsObj.wednesdayEndTime,'wednesdayEndTime',timesheetsObj.wednesdayStartTime,'wedHrs','wedExtraHrs')" [timeOnly]="true"></p-calendar>
                </td>
               
                <td>
                  <p-calendar [(ngModel)]="timesheetsObj.wedExtraHrs" [disabled]="disableInputFields || checkExtraHrsField('wedHrs')" (onClose)="setExtraHours(timesheetsObj.wedExtraHrs,'wedExtraHrs','wedHrs')" (onFocus)="clearField('wedExtraHrs','wedHrs')" [timeOnly]="true"></p-calendar>
                </td>
                <td *ngIf="paid" style="cursor: pointer;" (click)="showModal('wedHrs','wedBreakTime','wedStartBreakTime','wedEndBreakTime')">
                  <i nz-icon nzType="clock-circle" nzTheme="outline" style="font-size: larger;"> 
                    </i> &nbsp;<span >{{timesheetsObj.wedBreakTime}}</span>
                </td>
                <td >{{ hrs.wedHrs }}</td>
              </tr>
              <nz-modal [(nzVisible)]="isVisible.wedBreakTime" nzTitle="Wednesday Break Time" (nzOnCancel)="handleCancel('wedBreakTime','wedStartBreakTime','wedEndBreakTime')" (nzOnOk)="handleOk('wedHrs','wedBreakTime')" [nzOkDisabled]="disableOkButtonForBreakTime">
                <div class="alert alert-danger" style="text-align: center;" *ngIf="showErrorDivForBreakTime">
                  <strong>Error!</strong> End time must be greater than start time.
                </div>
                <table class="table" style="text-align: center;">
                  <thead>
                    <tr>
                      <th scope="col">Start Time</th>
                      <th scope="col">End Time</th>
                      <th scope="col">Hours</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <td>
                      <p-calendar [(ngModel)]="breakTimeObj.wedStartBreakTime" (onClose)="setStartBreakTime(breakTimeObj.wedStartBreakTime,'wedStartBreakTime',breakTimeObj.wedEndBreakTime,'wedBreakTime')"  [timeOnly]="true"></p-calendar>
                    </td>
                    <td>
                      <p-calendar [(ngModel)]="breakTimeObj.wedEndBreakTime"   (onClose)="setEndBreakTime(breakTimeObj.wedEndBreakTime,'wedEndBreakTime',breakTimeObj.wedStartBreakTime,'wedBreakTime')" [timeOnly]="true"></p-calendar>
                    </td>
                    <td>
                      {{timesheetsObj.wedBreakTime}}
                    </td>
                  </tbody>
                  
                  </table>
                  <hr>
              </nz-modal>

              <tr>
                <td>THURSDAY</td>
                <td>
                  <p-calendar [(ngModel)]="timesheetsObj.thursdayStartTime" [disabled]="disableInputFields" (onClose)="setStartMyDate(timesheetsObj.thursdayStartTime,'thursdayStartTime',timesheetsObj.thursdayEndTime,'thursHrs','thursExtraHrs')" [timeOnly]="true"></p-calendar>
                </td>
                <td>
                  <p-calendar [(ngModel)]="timesheetsObj.thursdayEndTime" [disabled]="disableInputFields" (onClose)="setEndMyDate(timesheetsObj.thursdayEndTime,'thursdayEndTime',timesheetsObj.thursdayStartTime,'thursHrs','thursExtraHrs')" [timeOnly]="true"></p-calendar>
                </td>
               
                <td>
                  <p-calendar [(ngModel)]="timesheetsObj.thursExtraHrs" [disabled]="disableInputFields || checkExtraHrsField('thursHrs')" (onClose)="setExtraHours(timesheetsObj.thursExtraHrs,'thursExtraHrs','thursHrs')" (onFocus)="clearField('thursExtraHrs','thursHrs')"  [timeOnly]="true"></p-calendar>
                </td>
                <td *ngIf="paid" style="cursor: pointer;" (click)="showModal('thursHrs','thursBreakTime','thursStartBreakTime','thursEndBreakTime')">
                  <i nz-icon nzType="clock-circle" nzTheme="outline" style="font-size: larger;"> 
                    </i> &nbsp;<span >{{timesheetsObj.thursBreakTime}}</span>
                </td>
                <td >{{ hrs.thursHrs }}</td>
              </tr>
              <nz-modal [(nzVisible)]="isVisible.thursBreakTime" nzTitle="Thursday Break Time" (nzOnCancel)="handleCancel('thursBreakTime','thursStartBreakTime','thursEndBreakTime')" (nzOnOk)="handleOk('thursHrs','thursBreakTime')" [nzOkDisabled]="disableOkButtonForBreakTime">
                <div class="alert alert-danger" style="text-align: center;" *ngIf="showErrorDivForBreakTime">
                  <strong>Error!</strong> End time must be greater than start time.
                </div>
                <table class="table" style="text-align: center;">
                  <thead>
                    <tr>
                      <th scope="col">Start Time</th>
                      <th scope="col">End Time</th>
                      <th scope="col">Hours</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <td>
                      <p-calendar [(ngModel)]="breakTimeObj.thursStartBreakTime" (onClose)="setStartBreakTime(breakTimeObj.thursStartBreakTime,'thursStartBreakTime',breakTimeObj.thursEndBreakTime,'thursBreakTime')"  [timeOnly]="true"></p-calendar>
                    </td>
                    <td>
                      <p-calendar [(ngModel)]="breakTimeObj.thursEndBreakTime"   (onClose)="setEndBreakTime(breakTimeObj.thursEndBreakTime,'thursEndBreakTime',breakTimeObj.thursStartBreakTime,'thursBreakTime')" [timeOnly]="true"></p-calendar>
                    </td>
                    <td>
                      {{timesheetsObj.thursBreakTime}}
                    </td>
                  </tbody>
                  
                  </table>
                  <hr>
              </nz-modal>

              <tr>
                <td>FRIDAY</td>
                <td>
                  <p-calendar [(ngModel)]="timesheetsObj.fridayStartTime" [disabled]="disableInputFields" (onClose)="setStartMyDate(timesheetsObj.fridayStartTime,'fridayStartTime',timesheetsObj.fridayEndTime,'friHrs','friExtraHrs')" [timeOnly]="true"></p-calendar>
                </td>
                <td>
                  <p-calendar [(ngModel)]="timesheetsObj.fridayEndTime" [disabled]="disableInputFields" (onClose)="setEndMyDate(timesheetsObj.fridayEndTime,'fridayEndTime',timesheetsObj.fridayStartTime,'friHrs','friExtraHrs')" [timeOnly]="true"></p-calendar>
                </td>
                
                <td>
                  <p-calendar [(ngModel)]="timesheetsObj.friExtraHrs" [disabled]="disableInputFields || checkExtraHrsField('friHrs')" (onClose)="setExtraHours(timesheetsObj.friExtraHrs,'friExtraHrs','friHrs')" (onFocus)="clearField('friExtraHrs','friHrs')" [timeOnly]="true"></p-calendar>
                  <td *ngIf="paid" style="cursor: pointer;" (click)="showModal('friHrs','friBreakTime','friStartBreakTime','friEndBreakTime')">
                    <i nz-icon nzType="clock-circle" nzTheme="outline" style="font-size: larger;"> 
                      </i> &nbsp;<span >{{timesheetsObj.friBreakTime}}</span>
                  </td>
                  <td >{{ hrs.friHrs }}</td>
                </tr>
                <nz-modal [(nzVisible)]="isVisible.friBreakTime" nzTitle="Friday Break Time" (nzOnCancel)="handleCancel('friBreakTime','friStartBreakTime','friEndBreakTime')" (nzOnOk)="handleOk('friHrs','friBreakTime')" [nzOkDisabled]="disableOkButtonForBreakTime">
                  <div class="alert alert-danger" style="text-align: center;" *ngIf="showErrorDivForBreakTime">
                    <strong>Error!</strong> End time must be greater than start time.
                  </div>
                  <table class="table" style="text-align: center;">
                    <thead>
                      <tr>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope="col">Hours</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <td>
                        <p-calendar [(ngModel)]="breakTimeObj.friStartBreakTime" (onClose)="setStartBreakTime(breakTimeObj.friStartBreakTime,'friStartBreakTime',breakTimeObj.friEndBreakTime,'friBreakTime')"  [timeOnly]="true"></p-calendar>
                      </td>
                      <td>
                        <p-calendar [(ngModel)]="breakTimeObj.friEndBreakTime"   (onClose)="setEndBreakTime(breakTimeObj.friEndBreakTime,'friEndBreakTime',breakTimeObj.friStartBreakTime,'friBreakTime')" [timeOnly]="true"></p-calendar>
                      </td>
                      <td>
                        {{timesheetsObj.friBreakTime}}
                      </td>
                    </tbody>
                    
                    </table>
                    <hr>
                </nz-modal>
              <tr>
                <td>SATURDAY</td>
                <td>
                  <p-calendar [(ngModel)]="timesheetsObj.saturdayStartTime" [disabled]="disableInputFields" (onClose)="setStartMyDate(timesheetsObj.saturdayStartTime,'saturdayStartTime',timesheetsObj.saturdayEndTime,'satHrs','satExtraHrs')" [timeOnly]="true"></p-calendar>
                </td>
                <td>
                  <p-calendar [(ngModel)]="timesheetsObj.saturdayEndTime" [disabled]="disableInputFields" (onClose)="setEndMyDate(timesheetsObj.saturdayEndTime,'saturdayEndTime',timesheetsObj.saturdayStartTime,'satHrs','satExtraHrs')" [timeOnly]="true"></p-calendar>
                </td>
               
                <td style="cursor: pointer;">
                  <p-calendar [(ngModel)]="timesheetsObj.satExtraHrs" [disabled]="disableInputFields || checkExtraHrsField('satHrs')" (onClose)="setExtraHours(timesheetsObj.satExtraHrs,'satExtraHrs','satHrs')" (onFocus)="clearField('satExtraHrs','satHrs')" [timeOnly]="true"></p-calendar>
                </td>
                <td *ngIf="paid" style="cursor: pointer;" (click)="showModal('satHrs','satBreakTime','satStartBreakTime','satEndBreakTime')">
                  <i nz-icon nzType="clock-circle" nzTheme="outline" style="font-size: larger;"> 
                    </i> &nbsp;<span >{{timesheetsObj.satBreakTime}}</span>
                </td>
                <td >{{ hrs.satHrs }}</td>
              </tr>
              <nz-modal [(nzVisible)]="isVisible.satBreakTime" nzTitle="Saturday Break Time" (nzOnCancel)="handleCancel('satBreakTime','satStartBreakTime','satEndBreakTime')" (nzOnOk)="handleOk('satHrs','satBreakTime')" [nzOkDisabled]="disableOkButtonForBreakTime">
                <div class="alert alert-danger" style="text-align: center;" *ngIf="showErrorDivForBreakTime">
                  <strong>Error!</strong> End time must be greater than start time.
                </div>
                <table class="table" style="text-align: center;">
                  <thead>
                    <tr>
                      <th scope="col">Start Time</th>
                      <th scope="col">End Time</th>
                      <th scope="col">Hours</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <td>
                      <p-calendar [(ngModel)]="breakTimeObj.satStartBreakTime" (onClose)="setStartBreakTime(breakTimeObj.satStartBreakTime,'satStartBreakTime',breakTimeObj.satEndBreakTime,'satBreakTime')"  [timeOnly]="true"></p-calendar>
                    </td>
                    <td>
                      <p-calendar [(ngModel)]="breakTimeObj.satEndBreakTime"   (onClose)="setEndBreakTime(breakTimeObj.satEndBreakTime,'satEndBreakTime',breakTimeObj.satStartBreakTime,'satBreakTime')" [timeOnly]="true"></p-calendar>
                    </td>
                    <td>
                      {{timesheetsObj.satBreakTime}}
                    </td>
                  </tbody>
                  
                  </table>
                  <hr>
              </nz-modal>
              <tr>
                <td>SUNDAY</td>
                <td>
                  <p-calendar [(ngModel)]="timesheetsObj.sundayStartTime" [disabled]="disableInputFields" (onClose)="setStartMyDate(timesheetsObj.sundayStartTime,'sundayStartTime',timesheetsObj.sundayEndTime,'sunHrs','sunExtraHrs')" [timeOnly]="true"></p-calendar>
                </td>
                <td>
                  <p-calendar [(ngModel)]="timesheetsObj.sundayEndTime" [disabled]="disableInputFields" (onClose)="setEndMyDate(timesheetsObj.sundayEndTime,'sundayEndTime',timesheetsObj.sundayStartTime,'sunHrs','sunExtraHrs')" [timeOnly]="true"></p-calendar>
                </td>
                
                <td>
                  <p-calendar [(ngModel)]="timesheetsObj.sunExtraHrs" [disabled]="disableInputFields || checkExtraHrsField('sunHrs')" (onClose)="setExtraHours(timesheetsObj.sunExtraHrs,'sunExtraHrs','sunHrs')" (onFocus)="clearField('sunExtraHrs','sunHrs')" [timeOnly]="true"></p-calendar>
                </td>
                <td *ngIf="paid" style="cursor: pointer;" (click)="showModal('sunHrs','sunBreakTime','sunStartBreakTime','sunEndBreakTime')">
                  <i nz-icon nzType="clock-circle" nzTheme="outline" style="font-size: larger;"> 
                    </i> &nbsp;<span >{{timesheetsObj.sunBreakTime}}</span>
                </td>
                <td >{{ hrs.sunHrs }}</td>
              </tr>
              <nz-modal [(nzVisible)]="isVisible.sunBreakTime" nzTitle="Sunday Break Time" (nzOnCancel)="handleCancel('sunBreakTime','sunStartBreakTime','sunEndBreakTime')" (nzOnOk)="handleOk('sunHrs','sunBreakTime')" [nzOkDisabled]="disableOkButtonForBreakTime">
                <div class="alert alert-danger" style="text-align: center;" *ngIf="showErrorDivForBreakTime">
                  <strong>Error!</strong> End time must be greater than start time.
                </div>
                <table class="table" style="text-align: center;">
                  <thead>
                    <tr>
                      <th scope="col">Start Time</th>
                      <th scope="col">End Time</th>
                      <th scope="col">Hours</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <td>
                      <p-calendar [(ngModel)]="breakTimeObj.sunStartBreakTime" (onClose)="setStartBreakTime(breakTimeObj.sunStartBreakTime,'sunStartBreakTime',breakTimeObj.sunEndBreakTime,'sunBreakTime')"  [timeOnly]="true"></p-calendar>
                    </td>
                    <td>
                      <p-calendar [(ngModel)]="breakTimeObj.sunEndBreakTime"   (onClose)="setEndBreakTime(breakTimeObj.sunEndBreakTime,'sunEndBreakTime',breakTimeObj.sunStartBreakTime,'sunBreakTime')" [timeOnly]="true"></p-calendar>
                    </td>
                    <td>
                      {{timesheetsObj.sunBreakTime}}
                    </td>
                  </tbody>
                  
                  </table>
                  <hr>
              </nz-modal>
              <tr>
                <td><div *ngIf="showButton"><button  mat-raised-button color="primary" (click)="calculateTotalHrs()"><i nz-icon nzType="clock-circle" nzTheme="outline" style="font-size: medium;"> 
                </i>  Calculate Hours</button></div></td>
                <td></td>
                <td></td>
                <td>Total Hours : {{ totalHrs }}</td>
              </tr>
            </tbody>
          </table>
        
        </div>
      </div>
      <div class="row" style="margin-left: 43%;">
      </div>
      <div class="row" style="background-color: #FCFCFC;" *ngIf="disableButton">
        <div class="col-12">
          <h2 style="color: rgb(104, 105, 103); font-weight: 500;">
            Send Timesheet to supervisor
          </h2>
          <div class="row">
            <div class="col-4" style="color: rgb(104, 105, 103);">
              <mat-form-field style="margin-left: 10%; ">
                <mat-label style="font-size: 1em;"
                  >Select Supervisors</mat-label
                >
                <mat-select
                  name="citizenship"
                  [(ngModel)]="timesheetsObj.supervisor"
                  required
                >
                  <mat-option *ngFor="let s of supervisors" [value]="s.value">
                    <nz-avatar
                    nzSize="small"
                    nzIcon="user"
                    [nzSrc]="
                      s.supervisorImage != null
                        ? 'data:image/jpeg;base64,' + s.supervisorImage
                        : 'assets/user.png'
                    "
                  ></nz-avatar>
                  &nbsp;
                    {{ s.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
            <div class="col-6">
                <ng-template #content let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">
                       Are you sure?
                      </h4>
                      <button
                        type="button"
                        class="close"
                        aria-label="Close"
                        (click)="modal.dismiss('Cross click')"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>when you send a timesheet you cannot edit it anymore</p>
                      <button
                      mat-raised-button
                      color="primary"
                      style="margin-top: 1%;"
                        (click)="sendToSupervisor()">
                        <div *ngIf="showLoader3" class="spinner-grow text-light" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                          <i nz-icon nzType="forward" nzTheme="outline"></i> 
                      Send Timesheet
                      </button>
                    </div>
                  </ng-template>
              <button
                mat-raised-button
                color="primary"
                style="margin-top: 1%;"
                (click)="validateButton3();open(content)">
                <i nz-icon nzType="forward" nzTheme="outline"></i> 
                Send Timesheet
              </button>
            </div>
            <div class="col-6" *ngIf="viewTimesheet">
              <button
              *ngIf="!showEditBtn"
              mat-raised-button
              color="primary"
              style="margin-top: 1%;"
              (click)="saveTimesheets()"
              [disabled]="disableSaveButton"
            >
            <div *ngIf="showLoader2" class="spinner-grow text-light" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <i nz-icon nzType="save" nzTheme="outline"></i>
              Save Timesheet
            </button>
            <button
            *ngIf="showEditBtn"
            mat-raised-button
            color="primary"
            style="margin-top: 1%;"
            [disabled]="disableSaveButton"
            (click)="editTimesheet()"
          >
          <div *ngIf="showLoader2" class="spinner-grow text-light" role="status">
            <span class="sr-only">Loading...</span>
          </div>
            Save Timesheet
          </button>
            <!-- <div *ngIf="showLoader2" class="spinner-border" style="margin-left: 1%;" role="status">
              <span class="sr-only">Loading...</span>
            </div> -->
          </div>
        </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
