<nav
  class="navbar navbar-light bg-light"
  style="background-color: white !important;border-top-color: black;border-top-style:solid; border-top-width: thin; border-bottom-style: ridge; box-shadow:0px 5px 5px rgb(179, 179, 179);"
>
  <div>
    <img src="assets/Capture.PNG" width="120" height="30" />
  </div>
  <div style="margin-right: 50%;">
    <button
      mat-stroked-button
      (click)="goToNewTimesheet()"
      style=" font-size: 1.1em;font-weight: 600;"
    >
      Create Timesheet
    </button>
    &nbsp;
    <button
      mat-stroked-button
      (click)="goToMyTimeSheets()"
      style="font-size: 1.1em;font-weight: 600;"
    >
      My Timesheets
    </button>
    &nbsp;
    <button
      mat-stroked-button
      (click)="goToProfiles()"
      style="font-size: 1.1em;font-weight: 600;"
    >
      Profiles
    </button>
  </div>
  <div>
    <nz-badge nzStatus="success">
      <nz-avatar
        nzIcon="user"
        [nzSrc]="
          userImage != null
            ? 'data:image/jpeg;base64,' + userImage
            : 'assets/user.png'
        "
      ></nz-avatar>
    </nz-badge>
  </div>
  <div style="margin-right: 5%;" style="cursor: pointer;" (click)="logout()">
    <img src="assets/icons8-logout-rounded-left-24.png" alt="" />
  </div>
</nav>

<br />

<div class="container">
  <mat-card>
    <div class="row" *ngIf="!hideSection">
      <div class="col-6">
        <h2 style="color: #6E6F6D; font-weight: 500;">
          Current Timesheet
        </h2>
        <p style="color: #6E6F6D; margin-top: -3%;">
          {{ showRangeForView }} , Week No. {{ weekIdforView }}
        </p>
      </div>
    </div>
    <div class="row" *ngIf="hideSection">
     
      <div class="col-6">
        <h2 style="color: #6E6F6D; font-weight: 500;">
          Current Timesheet
        </h2>

        <div style="color: #6E6F6D; margin-top: -3%;">
          <button mat-icon-button color="primary" (click)="goToPreviousWeek()">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>

          {{ showRange }} , Week No. {{ weekId }}

          <button
            mat-icon-button
            color="primary"
            (click)="goToNextWeek()"
            [disabled]="checkWeek()"
          >
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </div>
      <div class="alert alert-warning" style="text-align: center; margin-left: 12%;" >
        <strong>Note!</strong> Default time is set as 24:00 which is same as 00:00.
      </div>
    </div>
    <div class="row" *ngIf="showLoader" style="margin-left: 50%;">
      <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow text-secondary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="row" *ngIf="!hideForm">
      <nz-result
        [nzIcon]="'smile-twotone'"
        [nzTitle]="'Timesheet Submitted!'"
        style="margin-left: 35%;"
      >
        <!-- <div nz-result-extra>
              <button nz-button nzType="primary">Next</button>
            </div> -->
      </nz-result>
    </div>
    <div *ngIf="hideForm">
      <div class="row">
        <div class="col-12">
          
            <div class="alert alert-danger" style="text-align: center;" *ngIf="showErrorDiv">
              <strong>Error!</strong> End time must be greater than start time else you can't save the timesheet.
            </div>
          
          <table class="table" style="text-align: center;">
            <thead>
              <tr>
                <th scope="col">Day</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Hours</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>MONDAY</td>
                <!-- <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.mondayStartTime" (ngModelChange)="log($event)"></nz-time-picker></td> -->
                <td>
                  <input
                    placeholder="Select time"
                    [(ngModel)]="timesheetsObj.mondayStartTime"
                    aria-label="12hr format"
                    [ngxTimepicker]="default1"
                    readonly
                    [disabled]="disableInputFields"
                    [format]="24"
                    
                  />
                  <ngx-material-timepicker (timeSet)="checkNegativeValue($event,timesheetsObj.mondayEndTime)"  #default1></ngx-material-timepicker>
                </td>
                <td>
                  <input
                    placeholder="Select time"
                    [(ngModel)]="timesheetsObj.mondayEndTime"
                    [disabled]="disableInputFields"
                    aria-label="12hr format"
                    [ngxTimepicker]="default2"
                    readonly
                    [format]="24"
                    
                  />
                  <ngx-material-timepicker (timeSet)="getDuration(timesheetsObj.mondayStartTime,$event);checkNegativeValue(timesheetsObj.mondayStartTime,$event)" #default2></ngx-material-timepicker>
                </td>
                <!-- <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.mondayEndTime" (ngModelChange)="log($event)"></nz-time-picker></td> -->
               
              
                <td>{{ getHours(timesheetsObj.mondayStartTime,timesheetsObj.mondayEndTime) }}
                  
                </td>
               
              </tr>
              <tr>
                <td>TUESDAY</td>
                <!-- <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.tuesdayStartTime" (ngModelChange)="log($event)"></nz-time-picker></td> -->
                <td>
                  <input
                    placeholder="Select time"
                    [(ngModel)]="timesheetsObj.tuesdayStartTime"
                    [disabled]="disableInputFields"
                    aria-label="12hr format"
                    [ngxTimepicker]="default3"
                    readonly
                    [format]="24"
                  />
                  <ngx-material-timepicker (timeSet)="checkNegativeValue($event,timesheetsObj.tuesdayEndTime)" #default3></ngx-material-timepicker>
                </td>
                <td>
                  <input
                    placeholder="Select time"
                    [(ngModel)]="timesheetsObj.tuesdayEndTime"
                    [disabled]="disableInputFields"
                    aria-label="12hr format"
                    [ngxTimepicker]="default4"
                    readonly
                    [format]="24"
                  />
                  <ngx-material-timepicker  (timeSet)="getDuration(timesheetsObj.tuesdayStartTime,$event);checkNegativeValue(timesheetsObj.tuesdayStartTime,$event)" #default4></ngx-material-timepicker>
                </td>
                <!-- <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.tuesdayEndTime" (ngModelChange)="log($event)"></nz-time-picker></td> -->
                <td >{{ getHours(timesheetsObj.tuesdayStartTime,timesheetsObj.tuesdayEndTime) }}</td>
                
              </tr>
              <tr>
                <td>WEDNESDAY</td>
                <!-- <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.wednesdayStartTime" (ngModelChange)="log($event)"></nz-time-picker></td> -->
                <td>
                  <input
                    placeholder="Select time"
                    [(ngModel)]="timesheetsObj.wednesdayStartTime"
                    [disabled]="disableInputFields"
                    aria-label="12hr format"
                    [ngxTimepicker]="default5"
                    readonly
                    [format]="24"
                  />
                  <ngx-material-timepicker (timeSet)="checkNegativeValue($event,timesheetsObj.wednesdayEndTime)" #default5></ngx-material-timepicker>
                </td>
                <td>
                  <input
                    placeholder="Select time"
                    [(ngModel)]="timesheetsObj.wednesdayEndTime"
                    [disabled]="disableInputFields"
                    aria-label="12hr format"
                    [ngxTimepicker]="default6"
                    readonly
                    [format]="24"
                  />
                  <ngx-material-timepicker (timeSet)="getDuration(timesheetsObj.wednesdayStartTime,$event);checkNegativeValue(timesheetsObj.wednesdayStartTime,$event)" #default6></ngx-material-timepicker>
                </td>
                <!-- <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.wednesdayEndTime" (ngModelChange)="log($event)"></nz-time-picker></td> -->
                <td >{{ getHours(timesheetsObj.wednesdayStartTime,timesheetsObj.wednesdayEndTime) }}</td>
                
              </tr>
              <tr>
                <td>THURSDAY</td>
                <!-- <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.thursdayStartTime" (ngModelChange)="log($event)"></nz-time-picker></td> -->
                <!-- <td><nz-time-picker nzSize="small"  [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.thursdayEndTime" (ngModelChange)="log($event)"></nz-time-picker></td> -->
                <td>
                  <input
                    placeholder="Select time"
                    [(ngModel)]="timesheetsObj.thursdayStartTime"
                    [disabled]="disableInputFields"
                    aria-label="12hr format"
                    [ngxTimepicker]="default7"
                    readonly
                    [format]="24"
                  />
                  <ngx-material-timepicker (timeSet)="checkNegativeValue($event,timesheetsObj.thursdayEndTime)" #default7></ngx-material-timepicker>
                </td>
                <td>
                  <input
                    placeholder="Select time"
                    [(ngModel)]="timesheetsObj.thursdayEndTime"
                    [disabled]="disableInputFields"
                    aria-label="12hr format"
                    [ngxTimepicker]="default8"
                    readonly
                    [format]="24"
                  />
                  <ngx-material-timepicker (timeSet)="getDuration(timesheetsObj.thursdayStartTime,$event);checkNegativeValue(timesheetsObj.thursdayStartTime,$event)" #default8></ngx-material-timepicker>
                </td>
                <td >{{ getHours(timesheetsObj.thursdayStartTime,timesheetsObj.thursdayEndTime) }}</td>
                
              </tr>
              <tr>
                <td>FRIDAY</td>
                <!-- <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.fridayStartTime" (ngModelChange)="log($event)"></nz-time-picker></td> -->
                <!-- <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.fridayEndTime" (ngModelChange)="log($event)"></nz-time-picker></td> -->
                <td>
                  <input
                    placeholder="Select time"
                    [(ngModel)]="timesheetsObj.fridayStartTime"
                    [disabled]="disableInputFields"
                    aria-label="12hr format"
                    [ngxTimepicker]="default9"
                    readonly
                    [format]="24"
                  />
                  <ngx-material-timepicker (timeSet)="checkNegativeValue($event,timesheetsObj.fridayEndTime)" #default9></ngx-material-timepicker>
                </td>
                <td>
                  <input
                    placeholder="Select time"
                    [(ngModel)]="timesheetsObj.fridayEndTime"
                    [disabled]="disableInputFields"
                    aria-label="12hr format"
                    [ngxTimepicker]="default10"
                    readonly
                    [format]="24"
                  />
                  <ngx-material-timepicker (timeSet)="getDuration(timesheetsObj.fridayStartTime,$event);checkNegativeValue(timesheetsObj.fridayStartTime,$event)" #default10></ngx-material-timepicker>
                </td>
                <td >{{ getHours(timesheetsObj.fridayStartTime,timesheetsObj.fridayEndTime) }}</td>
                
              </tr>
              <tr>
                <td>SATURDAY</td>
                <!-- <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.saturdayStartTime" (ngModelChange)="log($event)"></nz-time-picker></td> -->
                <!-- <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.saturdayEndTime" (ngModelChange)="log($event)"></nz-time-picker></td> -->
                <td>
                  <input
                    placeholder="Select time"
                    [(ngModel)]="timesheetsObj.saturdayStartTime"
                    [disabled]="disableInputFields"
                    aria-label="12hr format"
                    [ngxTimepicker]="default11"
                    readonly
                    [format]="24"
                  />
                  <ngx-material-timepicker (timeSet)="checkNegativeValue($event,timesheetsObj.saturdayEndTime)" #default11></ngx-material-timepicker>
                </td>
                <td>
                  <input
                    placeholder="Select time"
                    [(ngModel)]="timesheetsObj.saturdayEndTime"
                    [disabled]="disableInputFields"
                    aria-label="12hr format"
                    [ngxTimepicker]="default12"
                    readonly
                    [format]="24"
                  />
                  <ngx-material-timepicker (timeSet)="getDuration(timesheetsObj.saturdayStartTime,$event);checkNegativeValue(timesheetsObj.saturdayStartTime,$event)" #default12></ngx-material-timepicker>
                </td>
                <td >{{ getHours(timesheetsObj.saturdayStartTime,timesheetsObj.saturdayEndTime) }}</td>
               
              </tr>
              <tr>
                <td>SUNDAY</td>
                <!-- <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.sundayStartTime" (ngModelChange)="log($event)"></nz-time-picker></td> -->
                <!-- <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.sundayEndTime" (ngModelChange)="log($event)"></nz-time-picker></td> -->
                <td>
                  <input
                    placeholder="Select time"
                    [(ngModel)]="timesheetsObj.sundayStartTime"
                    [disabled]="disableInputFields"
                    aria-label="12hr format"
                    [ngxTimepicker]="default13"
                    readonly
                    [format]="24"
                  />
                  <ngx-material-timepicker (timeSet)="checkNegativeValue($event,timesheetsObj.sundayEndTime)" #default13></ngx-material-timepicker>
                </td>
                <td>
                  <input
                    placeholder="Select time"
                    [(ngModel)]="timesheetsObj.sundayEndTime"
                    [disabled]="disableInputFields"
                    aria-label="12hr format"
                    [ngxTimepicker]="default14"
                    readonly
                    [format]="24"
                  />
                  <ngx-material-timepicker (timeSet)="getDuration(timesheetsObj.sundayStartTime,$event);checkNegativeValue(timesheetsObj.sundayStartTime,$event)" #default14></ngx-material-timepicker>
                </td>
                <td >{{ getHours(timesheetsObj.sundayStartTime,timesheetsObj.sundayEndTime) }}</td>
                
              </tr>
              <tr>
                <td><div *ngIf="showButton"><button  mat-raised-button color="primary" (click)="calulateHours()">Calculate Hours</button></div></td>
                <td></td>
                <td></td>
                <td>Total Hours : {{ totalHrs }}</td>
              </tr>
            </tbody>
          </table>
          <div style="margin-left: 45%;" *ngIf="viewTimesheet">
          <button
          *ngIf="!showEditBtn"
          mat-raised-button
          color="primary"
          style="margin-top: 1%;"
          (click)="saveTimesheets()"
          [disabled]="disableSaveButton"
        >
          Save Timesheet
        </button>
        <button
        *ngIf="showEditBtn"
        mat-raised-button
        color="warn"
        style="margin-top: 1%;"
        [disabled]="disableSaveButton"
        (click)="editTimesheet()"
      >
        Edit Timesheet
      </button>
        <div *ngIf="showLoader2" class="spinner-border" style="margin-left: 1%;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
        </div>
      </div>
      <div class="row" style="margin-left: 43%;">
        <!-- <button mat-raised-button color="primary" style="background-color: black;">Save Timesheet</button> -->
      </div>
      <div class="row" style="background-color: #FCFCFC;" *ngIf="disableButton">
        <div class="col-12">
          <h2 style="color: rgb(104, 105, 103); font-weight: 500;">
            Send Timesheet to supervisor
          </h2>
          <div class="row">
            <div class="col-4" style="color: rgb(104, 105, 103);">
              <mat-form-field style="margin-left: 10%; ">
                <mat-label style="font-size: 1em;"
                  >Select Supervisors</mat-label
                >
                <mat-select
                  name="citizenship"
                  [(ngModel)]="timesheetsObj.supervisor"
                  required
                >
                  <mat-option *ngFor="let s of supervisors" [value]="s.value">
                    {{ s.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-6">
              <button
          mat-raised-button
          color="primary"
          style="margin-top: 1%;"
          (click)="sendToSupervisor()"
         
        >
          Send Timesheet
        </button>
        <div *ngIf="showLoader3" class="spinner-border" style="margin-left: 1%;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
