<nav
  class="navbar navbar-light bg-light"
  style="background-color: white !important;border-top-color: black;border-top-style:solid; border-top-width: thin; border-bottom-style: ridge; box-shadow:0px 5px 5px rgb(179, 179, 179);"
>
<div>
  <img src="assets/Capture.PNG" width="120" height="30">
</div>
  <div style="margin-right: 50%;">
    <button
      mat-stroked-button
      (click)="goToNewTimesheet()"
      style=" font-size: 1.1em;font-weight: 600;"
    >
      Create Timesheet
    </button>
    &nbsp;
    <button
      mat-stroked-button
      (click)="goToMyTimeSheets()"
      style="font-size: 1.1em;font-weight: 600;"
    >
    My Timesheets
    </button>
    &nbsp;
    <button
      mat-stroked-button
      (click)="goToProfiles()"
      style="font-size: 1.1em;font-weight: 600;"
    >
    Profiles
    </button>
  </div>
  <div>
    <nz-badge nzStatus="success">
      <nz-avatar nzIcon="user" [nzSrc]="userImage != null
      ? 'data:image/jpeg;base64,' + userImage
      : 'assets/user.png'
  "></nz-avatar>
    </nz-badge>
  </div>
  <div style="margin-right: 5%;" style="cursor: pointer;" (click)="logout()">
    <img src="assets/icons8-logout-rounded-left-24.png" alt="">
  </div>
</nav>

<br>


<div class="container">
    <mat-card>
        <div class="row"  *ngIf="!hideSection">
            <div class="col-6">
                <h2 style="color: #6E6F6D; font-weight: 500;">
                    Current Timesheet
                    
                </h2>
                <p style="color: #6E6F6D; margin-top: -3%;">
                  {{showRangeForView}} , Week No. {{weekIdforView}}
                </p>
                
            </div>
        </div>
        <div class="row" *ngIf="hideSection">
        <div class="col-6">
            <h2 style="color: #6E6F6D; font-weight: 500;">
                Current Timesheet
                
            </h2>

            <div style="color: #6E6F6D; margin-top: -3%;">
                <button mat-icon-button  color="primary" (click)="goToPreviousWeek()"  ><mat-icon>keyboard_arrow_left</mat-icon></button>          

                {{showRange}}  , Week No. {{weekId}}

                <button mat-icon-button  color="primary" (click)="goToNextWeek()" [disabled]="checkWeek()" ><mat-icon>keyboard_arrow_right</mat-icon></button>          

            </div>
            
        </div>
    </div>
    <div class="row" *ngIf="showLoader" style="margin-left: 50%;">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-secondary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
         
    </div>
    <div class="row" *ngIf="!hideForm">
        <nz-result [nzIcon]="'smile-twotone'" [nzTitle]="'Timesheet Submitted!'" style="margin-left: 35%;">
            <!-- <div nz-result-extra>
              <button nz-button nzType="primary">Next</button>
            </div> -->
          </nz-result>
        </div>
    <div *ngIf="hideForm">
        <div class="row">
            <div class="col-12">
                <table class="table" style="text-align: center;">
                    <thead>
                      <tr>
                        <th scope="col">Day</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope="col">Hours<th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>MONDAY</td>
                       <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.mondayStartTime" (ngModelChange)="log($event)"></nz-time-picker></td>
                       <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.mondayEndTime" (ngModelChange)="log($event)"></nz-time-picker></td>
                       <td>{{mondayHrs}}</td>
                      </tr>
                      <tr>
                        <td>TUESDAY</td>
                        <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.tuesdayStartTime" (ngModelChange)="log($event)"></nz-time-picker></td>
                       <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.tuesdayEndTime" (ngModelChange)="log($event)"></nz-time-picker></td>
                       <td>{{tuesdayHrs}}</td>
                      </tr>
                      <tr>
                        <td>WEDNESDAY</td>
                        <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.wednesdayStartTime" (ngModelChange)="log($event)"></nz-time-picker></td>
                       <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.wednesdayEndTime" (ngModelChange)="log($event)"></nz-time-picker></td>
                       <td>{{wednesdayHrs}}</td>
                      </tr>
                      <tr>
                        <td>THURSDAY</td>
                        <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.thursdayStartTime" (ngModelChange)="log($event)"></nz-time-picker></td>
                        <td><nz-time-picker nzSize="small"  [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.thursdayEndTime" (ngModelChange)="log($event)"></nz-time-picker></td>
                        <td>{{thursdayHrs}}</td>
                      </tr>
                      <tr>
                        <td>FRIDAY</td>
                        <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.fridayStartTime" (ngModelChange)="log($event)"></nz-time-picker></td>
                       <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.fridayEndTime" (ngModelChange)="log($event)"></nz-time-picker></td>
                       <td>{{fridayHrs}}</td>
                      </tr>
                      <tr>
                        <td>SATURDAY</td>
                        <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.saturdayStartTime" (ngModelChange)="log($event)"></nz-time-picker></td>
                       <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.saturdayEndTime" (ngModelChange)="log($event)"></nz-time-picker></td>
                       <td>{{saturdayHrs}}</td>
                      </tr>
                      <tr>
                        <td>SUNDAY</td>
                        <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.sundayStartTime" (ngModelChange)="log($event)"></nz-time-picker></td>
                        <td><nz-time-picker nzSize="small" [nzUse12Hours]="true" [(ngModel)]="timesheetsObj.sundayEndTime" (ngModelChange)="log($event)"></nz-time-picker></td>
                        <td>{{sundayHrs}}</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total Hours : {{totalHrs}}</td>
                      </tr>
                    </tbody>
                   
                  </table>

            </div>
        </div>
        <div class="row" style="margin-left: 43%;">
        <!-- <button mat-raised-button color="primary" style="background-color: black;">Save Timesheet</button> -->
    </div>
    <div class="row" style="background-color: #FCFCFC;" *ngIf="disableButton">
    <div class="col-12">
        
        <h2 style="color: rgb(104, 105, 103); font-weight: 500;">
            Send Timesheet to supervisor
            
        </h2>
        <div class="row"> 
              <div class="col-4"  style="color: rgb(104, 105, 103);">
                <mat-form-field style="margin-left: 10%; ">
                    <mat-label style="font-size: 1em;"
                      >Select Supervisors</mat-label
                    >
                    <mat-select
                      name="citizenship"
                      [(ngModel)]="timesheetsObj.supervisor"
                      required
                    >
                      <mat-option *ngFor="let s of supervisors" [value]="s.value">
                        {{ s.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
        </div>
        <div class="col-6">        <button mat-raised-button color="primary" style="background-color: black;margin-top: 1%;" (click)="saveTimesheets()">Save Timesheet</button>
        </div>
        </div>
      

    </div>
    </div>
    </div>
    </mat-card>

</div>
