<div class="container">
  <br />


  <div class="row" style="height: 100px;"></div>
  <div *ngIf="showForm">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-4">
        <h1 style="font-size: xx-large; color: #595959;">
          Forgot your password?
        </h1>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-3"></div>
      <div class="col-5">
        Don't worry. Resetting your password is easy, just tell us the email
        address you registered with timesheets.
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-3"></div>
      <div class="col-5">
        <input
          nz-input
          placeholder="Enter your email"
          style="width: 100%;"
          name="email"
          type="email"
          [(ngModel)]="fObj.email"
        />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-3"></div>
      <div class="col-2">
        <button
          (click)="sendEmail()"
          style="width: 100%;"
          mat-raised-button
          color="primary"
        >
          <div *ngIf="showLoader" class="spinner-grow text-light" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          Send
        </button>
      </div>
    </div>
  </div>
</div>
